html{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
body {
    justify-content: center;
    align-items: center;
    background-image: url("./frontend/img/macos-monterey-stock-black-dark-mode-layers-5k-3840x2160-5889.jpg");
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
}
.kirjaudu {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.44);
    border-radius: 10%;
    box-shadow: 0 2px 10px rgb(69, 69, 69);
}
li {
    list-style: none;
    margin: 10px 0;
}
li a {
    list-style: none;
    padding: 1px 10px;
    text-decoration: none;
    color: #ffffff;
    text-shadow: #000000 0px 0px 2px;
    transition: color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 5px;
    background: linear-gradient(to right, #000000, #ffffff);

}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2;
    background: linear-gradient(to right, #ffffff, #424242);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
    padding: 10px;
}
.kirjaudu button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #000000, #ffffff);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-style: italic, bold;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}
.kirjaudu button:hover {
    border-radius: 50px;
    color: #000000;
}
.kirjaudu form {
    display: flex;
    flex-direction: column;
}

.kirjaudu form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
.li a{
    background-color: transparent;
}
.error,
.success { 
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: #fff;
}
.error {
    background-color: #ff4d4d; /* Red background for errors */
}
.success {
    background-color: #4caf50; /* Green background for success messages */
}
